{
    "endpoint": "http://localhost:11434",
    "model": "llama2",
    "api_key": "",
    "api_type": "completions",
    "is_openwebui": false,
    "openai_compatibility": false,
    "extend_selection_max_tokens": 70,
    "extend_selection_system_prompt": "",
    "edit_selection_max_new_tokens": 0,
    "edit_selection_system_prompt": "",
    "disable_ssl_verification": false,
    "debug_logging": false
}
